<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="website_menu"
        name="Website"
        sequence="0"
        web_icon="ct_website_v15,static/img/icon 21 website.png" />

    <menuitem
        id="package_menu"
        name="Package"
        action="ct_website_v15.action_package"
        sequence="1"
        parent="website_menu"
    />

    <menuitem
        id="websit_category_menu"
        name="Category"
        action="ct_website_v15.hop_websit_category_action"
        sequence="6"
        parent="package_menu"
    />

    <menuitem
        id="gallery_menu"
        name="Gallery"
        action="ct_website_v15.action_gallery"
        sequence="2"
        parent="website_menu"
    />

    <menuitem
        id="season_recipe_menu"
        name="Season Receipe"
        action="ct_website_v15.action_season_recipe"
        sequence="4"
        parent="website_menu" />

    <menuitem
        id="configuration_menu"
        name="Configuration"
        parent="website_menu"
        sequence="4" />

    <menuitem
        id="season_menu"
        name="Season"
        action="ct_website_v15.action_season"
        sequence="3"
        parent="configuration_menu"
    />

</odoo>
